In [1]:
# Import the modules
import numpy as np
import pandas as pd
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
lending_data_df = pd.read_csv('Resources/lending_data.csv')

# Review the DataFrame
lending_data_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
lending_data_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
77531    False
77532     True
77533     True
77534    False
77535     True
Length: 77536, dtype: bool

In [4]:
lending_data_df= lending_data_df.drop_duplicates()

In [5]:
len(lending_data_df)

5229

In [6]:
# Separate the data into labels and features
# Separate the y variable, the labels
y = lending_data_df["loan_status"]
# Separate the X variable, the features
X = lending_data_df.drop(columns="loan_status")

In [7]:
# Review the y variable Series
print(y)

0        0
1        0
2        0
3        0
4        0
        ..
77524    1
77526    1
77528    1
77531    1
77534    1
Name: loan_status, Length: 5229, dtype: int64

In [8]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [9]:
# Check the balance of our target values
y.value_counts()

0    3653
1    1576
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [10]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(3921, 7)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [11]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(max_iter=200,
                                random_state=1)
classifier

# Fit the model using training data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [12]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

   Prediction  Actual
0           0       0
1           0       0
2           1       1
3           0       0
4           0       0
5           1       1
6           1       1
7           0       0
8           0       0
9           0       0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [13]:
# Print the balanced_accuracy score of the model
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.8952599388379205

In [14]:
# Generate a confusion matrix for the model
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[822,  92],
       [ 45, 349]], dtype=int64)

In [15]:
# Print the classification report for the model
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.95      0.90      0.92       914
           1       0.79      0.89      0.84       394

    accuracy                           0.90      1308
   macro avg       0.87      0.89      0.88      1308
weighted avg       0.90      0.90      0.90      1308

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The model appears to have a high level of accuracy. The precision, recall, f1 score, and accuracy scores indicate that the proportion of correctly identified labels are above 85% across the board.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [16]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler
from sklearn.datasets import make_classification
# Instantiate the random oversampler model
resampled_data = RandomOverSampler(random_state=1) 

X_res, y_res = resampled_data.fit_resample(X_train, y_train)

# # Assign a random_state parameter of 1 to the model
#X, y = make_classification(n_classes=2, class_sep=2,
#    weights=[0.1, 0.9], n_informative=3, n_redundant=1, flip_y=0,
#    n_features=20, n_clusters_per_class=1, n_samples=1000, random_state=1)

# Fit the original training data to the random_oversampler model
classifier.fit(X_res, y_res)

LogisticRegression(max_iter=200, random_state=1)

In [17]:
# Count the distinct values of the resampled labels data
y_res.value_counts()

0    2739
1    2739
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [18]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model

# Fit the model using the resampled training data

# Make a prediction using the testing data
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
1491            0       0
4485            0       0
75261           1       1
5208            0       0
18              0       0
...           ...     ...
75514           1       1
43449           0       0
75670           1       1
1011            0       0
457             0       0

[1308 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [19]:
# Print the balanced_accuracy score of the model 
accuracy_score(y_test, predictions)

0.9181957186544343

In [20]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, predictions)

array([[820,  94],
       [ 13, 381]], dtype=int64)

In [21]:
# Print the classification report for the model
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.98      0.90      0.94       914
           1       0.80      0.97      0.88       394

    accuracy                           0.92      1308
   macro avg       0.89      0.93      0.91      1308
weighted avg       0.93      0.92      0.92      1308

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** Similarly to our initial results, the accuracy, recall, and f1 scores indicate an accuracy over over 85%.